$breakpoints: (
  "xs": 566px,
  "sm": 800px,
  "md": 1000px,
  "lg": 1120px,
);
@mixin media-breakpoint-down($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media screen and (max-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
@mixin media-breakpoint-up($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media screen and (min-width: $value + 1) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin if-ie {
  @media all and (-ms-high-contrast: none) {
    @content;
  }
}
@mixin ipad-landscape {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}
@mixin ipad-portrait {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}

@mixin mobile-landscape {
  @media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
    @content;
  }
}
@mixin iphone5-portrait {
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    @content;
  }
}
@mixin iphone5-landscape {
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: landscape) {
    @content;
  }
}
@mixin iphone5 {
  @media only screen and (max-width: 330px) and (orientation: portrait) {
    @content;
  }
}
@mixin media-breakpoint-down-custom($width) {
  @media only screen and (max-width: #{$width}) {
    @content;
  }
}
@mixin media-breakpoint-up-custom($width) {
  @media only screen and (min-width: #{$width}) {
    @content;
  }
}
@mixin media-breakpoint-between-custom($width-sm, $width-lg) {
  @media only screen and (min-width: #{$width-sm}) and (max-width: #{$width-lg}) {
    @content;
  }
}
