.hero-banner {
  &.home-page {
    &.homepage-optimizely-banners {
      .container {
        &.hero-container{
          .hero-summery {
            @include ipad-landscape{
              margin-right: 8px;
            }
            @include media-breakpoint-up(sm){
              margin-right: 8px;
            }
          }
        }
      }
      &.common-banners {
        .container {
          &.hero-container{
            .hero-summery {
              h1{
                line-height: 1.35;
                font-size: 35px;
                margin-bottom: 34px;

                @include media-breakpoint-up(lg){
                  font-size: 42px;
                }
              }
            }
          }
        }
      }
      &.second-banner {
        .bg-image{
          background: url("../new-theme/images/hero-banner-home2.png");
          @include media-breakpoint-up(sm){
            background-position-x: 35%;
          }
          @include media-breakpoint-up(md){
            background-position-x: 0;
          }
        }
      }
      &.third-banner {
        .bg-image{
          background: url("../new-theme/images/hero-banner-home3.png");
          @include media-breakpoint-up(sm){
            background-position-x: 15%;
          }
          @include media-breakpoint-up(md){
            background-position-x: 0;
          }
        }
      }
    }
  }
}