//Variables
$cyber-monday: #ee7905;
$secondary: #ea580c;
$cyber-monday-text: #333333;
$light-text: #656565;
$primary: #65509c;
$bg-primary: #522367;
$white: #ffffff;
$light-white: #fefefe;
$black: #000000;
$dark-color: #1D1D1D;
$trip-color : #00A4AD;
$trip-border-color : #707070;
$font-regular: 'Open Sans', sans-serif;
$font-ciutadella: 'Ciutadella Rounded', Sans-serif;

$black-friday-bg: #200528;
$cookie-color: #282828;
$winter-bg: #e4ae5a;
$message_bg: #01adb7;
$light_text: #c6c6c6;

$travel-card-bg: #f5f5f5;

$extralight: #ebebeb;
$btn-border-color: #d5cad8;
$btn-hover-color: #EFECF0;
$help-text-color: #514b60;
$popup-light-text: #737885;
$popup-light-border: #dbdbdb;
$btn-link-color: #309de2;
$time-text-color: #626262;
$collapse-border-color: #707070;