.block-aco.hidden {
  display: none !important;
}

.block-aco hr {
  border-color: rgba(112, 112, 112, 0.3);
  margin-bottom: 30px;
}

.block-aco h2.heading-section {
  font-size: 23px;
  font-family: "Ciutadella Rounded", Sans-serif;
  font-weight: 700;
  color: #1D1D1D;
  margin-top: 0;
}

@media screen and (max-width: 566px) {
  .block-aco h2.heading-section {
    font-size: 20px;
  }
}

.block-aco p.section-description {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 26px;
  margin-top: 10px;
  color: #1D1D1D;
}

@media screen and (max-width: 566px) {
  .block-aco p.section-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .block-aco .aco-carousel {
    width: calc(100% + 15px);
  }
}

.block-aco .aco-carousel .aco-carousel-stage {
  display: block;
}

.block-aco .aco-carousel .aco-carousel-stage:before, .block-aco .aco-carousel .aco-carousel-stage:after {
  content: " ";
  display: table;
}

.block-aco .aco-carousel .aco-carousel-stage:after {
  clear: both;
}

.block-aco .aco-carousel .aco-carousel-stage .aco-item {
  margin-top: 0;
  margin-right: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: calc(100vw - 50px);
  min-width: calc(100vw - 50px);
}

@media screen and (min-width: 567px) {
  .block-aco .aco-carousel .aco-carousel-stage .aco-item {
    width: calc((100vw - (10px * 3)) / 2);
    min-width: calc((100vw - (10px * 4)) / 2);
  }
}

@media screen and (min-width: 801px) {
  .block-aco .aco-carousel .aco-carousel-stage .aco-item {
    width: calc((100vw - (30px * 3)) / 3);
    min-width: calc((100vw - (30px * 3)) / 3);
    margin-top: 0;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1001px) {
  .block-aco .aco-carousel .aco-carousel-stage .aco-item {
    width: calc((1024px - (30px * 3)) / 4);
    min-width: calc((1024px - (30px * 3)) / 4);
  }
}

@media screen and (min-width: 1121px) {
  .block-aco .aco-carousel .aco-carousel-stage .aco-item {
    width: calc((1120px - (30px * 3)) / 4);
    min-width: calc((1120px - (30px * 3)) / 4);
  }
}

.block-aco .aco-carousel .product-types-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0 0 5px 5px;
  margin: 0;
}

.block-aco .aco-carousel .product-types-item .product-bg-image {
  width: 100%;
  padding-top: 56.2%;
  position: relative;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.block-aco .aco-carousel .product-types-item .product-bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
}

.block-aco .aco-carousel .product-types-item .product-bg-image .special-note {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 12px;
  border-top-left-radius: 5px;
  background-color: #65509c;
  color: #ffffff;
  font-size: 10px;
}

.block-aco .aco-carousel .product-types-item .item-description {
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 3;
  padding: 20px;
  color: #282828;
  border-radius: 0 0 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 170px;
}

@media screen and (max-width: 566px) {
  .block-aco .aco-carousel .product-types-item .item-description {
    min-height: 180px;
  }
}

.block-aco .aco-carousel .product-types-item .item-description h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #65509c;
  margin-bottom: 8px;
  cursor: pointer;
}

.block-aco .aco-carousel .product-types-item .item-description p {
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

@media screen and (max-width: 566px) {
  .block-aco .aco-carousel .product-types-item .item-description p {
    font-size: 15px;
  }
}

.block-aco .aco-carousel .product-types-item .item-description p strong {
  font-weight: 700;
}

.block-aco .aco-carousel .product-types-item .item-description .btn.btn-trip {
  color: #65509c !important;
  margin-top: auto;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  height: auto;
  width: auto;
  border: none;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 40px;
  border-radius: 3px;
  text-decoration: underline !important;
}

@media screen and (max-width: 566px) {
  .block-aco .aco-carousel .product-types-item .item-description .btn.btn-trip {
    font-size: 15px;
  }
}

.modal.additional_covers {
  z-index: 999999;
}

.modal.additional_covers.fade {
  -webkit-transition: none;
  transition: none;
}

.modal.additional_covers .modal-dialog {
  width: 800px;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
  .modal.additional_covers .modal-dialog {
    max-height: calc(100vh - 3.5rem);
  }
}

@media screen and (max-width: 566px) {
  .modal.additional_covers .modal-dialog {
    max-width: 90%;
  }
}

.modal.additional_covers .modal-dialog .modal-nav {
  position: absolute;
  width: calc(100% + 80px);
  margin-left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  pointer-events: none;
  z-index: 2;
}

@media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
  .modal.additional_covers .modal-dialog .modal-nav {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
}

@media screen and (max-width: 566px) {
  .modal.additional_covers .modal-dialog .modal-nav {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
}

.modal.additional_covers .modal-dialog .modal-nav > button {
  background: none;
  border: none;
  margin: 0;
  pointer-events: auto;
  color: #ffffff;
}

@media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
  .modal.additional_covers .modal-dialog .modal-nav > button {
    color: #ffffff;
    width: 28px;
    height: 28px;
    line-height: 25px;
    border-radius: 100%;
    background: #65509c;
  }
}

@media screen and (max-width: 566px) {
  .modal.additional_covers .modal-dialog .modal-nav > button {
    color: #ffffff;
    width: 28px;
    height: 28px;
    line-height: 25px;
    border-radius: 100%;
    background: #65509c;
  }
}

.modal.additional_covers .modal-dialog .modal-nav > button .fa {
  font-size: 30px;
}

@media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
  .modal.additional_covers .modal-dialog .modal-nav > button .fa {
    font-size: 16px;
  }
}

@media screen and (max-width: 566px) {
  .modal.additional_covers .modal-dialog .modal-nav > button .fa {
    font-size: 16px;
  }
}

.modal.additional_covers .modal-dialog .modal-nav > button#modalPrev {
  margin-left: 0;
  margin-right: auto;
}

.modal.additional_covers .modal-dialog .modal-nav > button#modalNext {
  margin-left: auto;
  margin-right: 0;
}

.modal.additional_covers .modal-dialog .modal-content {
  border-radius: 10px;
}

@media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
  .modal.additional_covers .modal-dialog .modal-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.modal.additional_covers .modal-dialog .modal-content .modal-header {
  height: auto;
  padding: 0;
  background-color: #ffffff;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

@media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
  .modal.additional_covers .modal-dialog .modal-content .modal-header {
    width: 50%;
    border-radius: 5px 0 0 5px;
  }
}

.modal.additional_covers .modal-dialog .modal-content .modal-header .modal-image {
  width: 100%;
  padding-top: 40.3%;
  position: relative;
  height: auto;
}

@media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
  .modal.additional_covers .modal-dialog .modal-content .modal-header .modal-image {
    padding-top: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 566px) {
  .modal.additional_covers .modal-dialog .modal-content .modal-header .modal-image {
    padding-top: 56%;
  }
}

.modal.additional_covers .modal-dialog .modal-content .modal-header .modal-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  border-radius: 5px 5px 0 0;
}

@media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
  .modal.additional_covers .modal-dialog .modal-content .modal-header .modal-image img {
    border-radius: 5px 0 0 5px;
  }
}

.modal.additional_covers .modal-dialog .modal-content .modal-header .close {
  margin: 0 0 0 auto;
  z-index: 2;
  top: 8px;
  right: 8px;
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  opacity: 1;
  background: #65509c;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0;
}

@media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
  .modal.additional_covers .modal-dialog .modal-content .modal-header .close {
    top: -12px;
    right: -12px;
  }
}

@media only screen and (max-width: 900px) and (max-height: 576px) and (orientation: landscape) {
  .modal.additional_covers .modal-dialog .modal-content .modal-body {
    min-height: 100px;
    width: 50%;
    max-height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}

@media screen and (max-width: 566px) {
  .modal.additional_covers .modal-dialog .modal-content .modal-body {
    padding: 1rem 1.5rem;
    min-height: 300px;
  }
}

.modal.additional_covers .modal-dialog .modal-content .modal-body h5 {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  line-height: 1;
  height: auto;
  font-weight: 700;
  color: #65509c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .modal.additional_covers .modal-dialog .modal-content .modal-body h5 {
    font-size: 18px;
  }
}

.modal.additional_covers .modal-dialog .modal-content .modal-body .description {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: normal;
}

@media screen and (max-width: 800px) {
  .modal.additional_covers .modal-dialog .modal-content .modal-body .description {
    font-size: 14px;
  }
}

.modal.additional_covers .modal-dialog .modal-content .modal-body h6 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .modal.additional_covers .modal-dialog .modal-content .modal-body h6 {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.modal.additional_covers .modal-dialog .modal-content .modal-body .row {
  margin-top: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal.additional_covers .modal-dialog .modal-content .modal-body .row .packages {
  margin-top: 0;
  padding-left: 60px;
}

@media screen and (max-width: 800px) {
  .modal.additional_covers .modal-dialog .modal-content .modal-body .row .packages {
    padding-left: 16px;
    margin-bottom: 20px;
  }
}

.modal.additional_covers .modal-dialog .modal-content .modal-body ul {
  margin: 0;
  padding: 0;
}

.modal.additional_covers .modal-dialog .modal-content .modal-body ul li {
  list-style: none;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 800px) {
  .modal.additional_covers .modal-dialog .modal-content .modal-body ul li {
    font-size: 14px;
  }
}

.modal.additional_covers .modal-dialog .modal-content .modal-body ul li .fas {
  color: #65509c;
  width: 30px;
}

.modal.additional_covers .modal-dialog .modal-content .modal-body ul li .fas.fa-times {
  color: #c6c6c6;
}

.frame {
  position: relative;
}

.frame .aco-carousel-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 1120px) {
  .frame .aco-carousel-nav {
    display: none;
  }
}

.frame .aco-carousel-nav .btn-next, .frame .aco-carousel-nav .btn-prev {
  margin: 0;
  position: absolute;
  font-size: 34px;
  color: #282828;
  background: none;
  border: none;
}

.frame .aco-carousel-nav .btn-next:hover, .frame .aco-carousel-nav .btn-prev:hover {
  color: #522367;
}

.frame .aco-carousel-nav .btn-next.disabled, .frame .aco-carousel-nav .btn-prev.disabled {
  display: none;
}

.frame .aco-carousel-nav .btn-next {
  right: 0;
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
}

.frame .aco-carousel-nav .btn-prev {
  left: 0;
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
}

.scrollbar {
  margin: 20px 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
}

.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #292a33;
  cursor: pointer;
}

.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}
/*# sourceMappingURL=aco_block.css.map */