@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
body.login {
  background-color: #65509c;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

body.login a {
  color: #ffffff;
}

body.login a:hover {
  color: #ffffff;
}

body.login #login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 443px;
  padding: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body.login #login h1 {
  font-size: 20px;
  height: 70px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body.login #login h1 a {
  background-image: url("../img/staysure-logo-strapline-white.svg");
  width: 100%;
  background-size: 100%;
  height: 70px;
}

body.login #login #login_error {
  background-color: #ffffff;
  color: #464646;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-left: 40px;
  border-left: none;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.47);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.47);
}

body.login #login .message {
  background-color: #ffffff;
  color: #464646;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-left: 40px;
  border-left: none;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.47);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.47);
}

body.login #login #backtoblog {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-bottom: 38px;
  padding-left: 40px;
}

body.login #login #backtoblog a {
  color: #ffffff;
  font-size: 16px;
}

body.login #login #backtoblog a:hover {
  color: #ffffff;
}

body.login #login #nav {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: -50px;
  padding-left: 40px;
  z-index: 59;
}

body.login #login #nav a {
  color: #464646;
  font-size: 14px;
  text-decoration: underline;
}

body.login #login #loginform {
  -webkit-box-shadow: 0 3px 33px rgba(0, 0, 0, 0.47);
          box-shadow: 0 3px 33px rgba(0, 0, 0, 0.47);
  border-radius: 10px;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  padding: 60px 40px 30px 40px;
  margin-top: 10px;
}

body.login #login #loginform label {
  font-size: 16px;
  color: #464646;
  font-weight: 600;
}

body.login #login #loginform label input[type="text"], body.login #login #loginform label input[type="password"] {
  font-size: 16px;
  height: 54px;
  font-weight: 400;
  padding-left: 10px;
}

body.login #login #loginform .forgetmenot {
  float: none;
}

body.login #login .submit {
  padding-top: 1rem;
}

body.login #login .submit #wp-submit {
  background-color: #ea580c;
  border-radius: 0;
  border: none;
  font-family: "Ciutadella Rounded", Sans-serif;
  font-weight: 600;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  float: none;
  height: 48px;
  line-height: 48px;
  padding: 0 30px;
}

body.login.login-action-lostpassword #login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.login.login-action-lostpassword #login h1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body.login.login-action-lostpassword #login .message {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body.login.login-action-lostpassword #login #lostpasswordform {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  -webkit-box-shadow: 0 3px 33px rgba(0, 0, 0, 0.47);
          box-shadow: 0 3px 33px rgba(0, 0, 0, 0.47);
  border-radius: 10px;
  padding: 60px 40px 30px 40px;
  margin-top: 10px;
  margin-bottom: 0;
}

body.login.login-action-lostpassword #login #lostpasswordform label {
  font-size: 16px;
  color: #464646;
  font-weight: 600;
}

body.login.login-action-lostpassword #login #lostpasswordform label input[type="text"], body.login.login-action-lostpassword #login #lostpasswordform label input[type="password"] {
  font-size: 16px;
  height: 54px;
  font-weight: 400;
  padding-left: 10px;
}

body.login.login-action-lostpassword #login #lostpasswordform .forgetmenot {
  float: none;
}

body.login.login-action-lostpassword #login #nav {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

body.login.login-action-lostpassword #login #backtoblog {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-bottom: 38px;
}
/*# sourceMappingURL=custom-login.css.map */