%center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.awards-block {
  flex-direction: column;
  text-align: center;
  padding-bottom: 0;
  color: #0a0a0a;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    padding: 40px 0 25px 0;
    text-align: unset;
  }

  .left-block {
    width: 100%;
    margin-bottom: 20px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    .sub-title {
      font-size: 24px;
      margin-bottom: 22px;
      color: #0a0a0a;

      @include media-breakpoint-up(lg) {
        font-size: 28px;
      }
    }

    .description {
      font-size: 18px;
      line-height: 1.67;
      color: #0a0a0a;
      padding: 0 6%;

      @include media-breakpoint-up(lg) {
        font-size: 19px;
        padding: 0;
      }
    }
  }

  .awards-carousel-wrapper {
    padding: 0 23px;
    @include media-breakpoint-up(lg) {
      padding: 0;
    }

    .owl-stage {
      .owl-item {
        margin-top: 0;

        .award-wrapper {
          .trustpilot-widget {
            @include media-breakpoint-down(xs) {
              max-width: 210px;
              margin: 0 auto;
              margin-top: 20px;
              width: 100%;
            }

            @include media-breakpoint-down(md) {
              margin-top: 10px;
            }

            @include media-breakpoint-up(lg) {
              margin-top: 20px;
              max-width: 205px;
              width: 100%;
            }
          }
        }

        img {
          max-width: 180px;
          margin: 0 auto;

          @include media-breakpoint-up(lg) {
            &.awards-britishtravel {
              width: 100%;
              height: auto;
              max-width: 134px;
              margin-left: auto;
              margin-right: 0;
            }

            &.awards-defecto {
              width: 100%;
              height: auto;
              max-width: 152px;
              margin-left: auto;
              margin-right: 0;
            }
          }
        }
      }
    }
    .owl-nav {
      %nav-buttons {
        @include circle-icon(40px, 40px, 50%);
        position: absolute;
        top: 22%;
        border: 1px solid #efefef;
        color: #c6c6c6;
        background: $white;
        @include media-breakpoint-up(lg) {
          top: 35%;
        }
      }

      .disabled {
        opacity: unset;
      }

      .owl-prev {
        @extend %nav-buttons;
        @extend %center;
        left: -28px;
        font-size: 0;

        @include media-breakpoint-up(md) {
          left: 0;
        }

        &::before {
          content: "\f104";
          font-family: "Font Awesome 5 Free";
          color: #c6c6c6;
          font-weight: 900;
          font-size: 30px;
        }

        .fas {
          font-size: 0;
        }

        &:hover {
          background: $white;
          color: #c6c6c6;
        }
      }
      .owl-next {
        @extend %nav-buttons;
        @extend %center;
        right: -28px;
        font-size: 0;

        @include media-breakpoint-up(md) {
          right: 0;
        }

        .fas {
          font-size: 0;
        }

        &::before {
          content: "\f105";
          font-family: "Font Awesome 5 Free";
          color: #c6c6c6;
          font-weight: 900;
          font-size: 30px;
        }

        &:hover {
          background: $white;
          color: #c6c6c6;
        }
      }
    }
  }
}
