section{
  * + *{
    margin-top: inherit;
  }
}

h1, h2{
  font-family: $font-bold;
}
h3,h4,h5,h6{
  font-family: $font-bold;
}
//.container{
//  @include media-breakpoint-down(sm){
//    max-width: 100% !important;
//  }
//}
.bg-primary-dark{
  background-color: $bg-primary;
}
.title-md{
  font-family: $font-medium;
}
.title-smbd{
  font-family: $font-semibold;
}
.title-bold{
  font-weight: 600;
}
.text-md{
  font-family: $font-title-regular;
}
.text-regular{
  font-family: $font-regular;
}
h2.section-title, h3.section-title{
  font-size: 28px;
  font-weight: 800;
  @include media-breakpoint-down(sm){
    font-size: 24px;
  }
}
.hidden-mobile{
  @include media-breakpoint-down(sm){
    display: none !important;
  }
}
.visible-mobile{
  @include media-breakpoint-up(sm){
    display: none !important;
  }
}
.btn{
  font-family: $font-semibold;
  font-weight: 800;
  outline: 0;
  margin: 0;
  &.btn-bold{
    height: 38px;
    line-height: 36px;
    padding: 0 87px;
    font-family: $font-bold;
    font-size: 18px;
    max-width: 100%;
    outline: 0;
    margin: 0;
    @include media-breakpoint-down(xs){
      padding: 0 40px;
    }
    &:hover, &:active{
      padding: 0 87px;
      outline: 0;
      @include media-breakpoint-down(xs){
        padding: 0 40px;
      }
    }
  }
  &.btn-bold-no-pad{
    height: 38px;
    line-height: 36px;
    padding: 0 28px;
    font-family: $font-bold;
    font-size: 18px;
    max-width: 100%;
    outline: 0;
    margin: 0;
    @include media-breakpoint-down(sm){
      width: 100%;
      text-align: center;
      padding: 0;
    }
    &:hover, &:active{
      padding: 0 28px;
      outline: 0;
    }
  }
  &.btn-outline-light{
    border-color: $white;
    color: $white;
    &:hover{
      background-color: $white;
      color: $body-color;
    }
  }
  &.btn-lg{
    font-family: $font-bold;
    font-size: 24px;
    padding: 0.5rem 7rem;
    outline: 0;
    margin: 0;
    @include media-breakpoint-down(lg){
      width: 100%;
      padding: 0;
      height: 48px;
      line-height: 46px;
      text-align: center;
      font-size: 20px;
    }
    &:hover, &:active{
      padding: 0.5rem 7rem;
      outline: 0;
    }
  }
}
.form-check{
  .form-check-input{
    display: none;
    + .form-check-label{
      padding-left: 15px;
      &:before{
        content: '';
        width: 24px;
        height: 24px;
        background-color: $white;
        border: 1px solid $card-border;
        position: absolute;
        margin-left: -35px;
        margin-top: 5px;

        -webkit-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -moz-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -o-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
      }
      &:hover{
        &:before{
          border: 3px solid $card-border;
        }
      }
    }
    &:checked{
      + .form-check-label{
        &:before{
          content: '\f00c';
          background-color: $success;
          border: 1px solid $white;
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          text-align: center;
          line-height: 24px;
          font-size: 0.75rem;
        }
      }
    }
  }
}

.link-underline {
  display: inline-block;
  color: $primary;
  text-decoration: underline;

  &:hover {
    color: $link-hover;
  }
}
.invalid-feedback{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: $red;
}
.ui-datepicker{
  .ui-datepicker-calendar{
    thead{
      @include media-breakpoint-down(sm){
        display: table;
        width: 100%;
      }
    }
    tbody{
      @include media-breakpoint-down(sm){
        display: table;
        width: 100%;
      }
    }
  }
}