.contact-page{
  section * + *{
    margin-top: initial;
  }
  h2{
    font-family: $font-regular;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.37;
    color: $body-color;
    margin: 0;
    margin-bottom: 2rem;
  }
  h3{
    font-family: $font-regular;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.37;
    color: $body-color;
    margin: 0;
    margin-bottom: 26px;
  }
  h4{
    font-family: $font-regular;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.37;
  }
  h5{
    font-family: $font-regular;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.37;
  }
  p{
    font-size: 18px;
    line-height: 1.8;
    &.small{
      font-size: 18px;
      line-height: 1.7;
    }
    a{
      font-weight: 600;
      color: $primary;
    }
  }
  hr{
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  .btn{
    font-size: 28px;

    &.btn-medium-solid {
      font-size: 16px;
      padding-top: 15px !important;
      padding-bottom: 15px !important;
      margin-bottom: 15px;
    } 

    &.btn-medium-outline {
      font-size: 16px;
      padding-top: 15px !important;
      padding-bottom: 15px !important;
      margin-bottom: 0 !important;
    }

    &.btn-medium-outline:focus,
    &.btn-medium-outline:hover {
      z-index:1;
      color:#fff !important;
      text-decoration:none;
      background-color:#65509c;
    }

    &.btn-ash-sm {
      padding: 1em 2.5em !important;
      margin-right: 15px;
      font-size: 16px;
    }

    &.btn-ash-sm:focus,
    &.btn-ash-sm:hover {
      text-decoration:underline !important;
    }

    &.btn-outline-primary{
      border: 1px solid $primary;
      background: $white;
      color: $primary !important;
      font-family: $font-title-regular;
      outline: 0;
      max-width: 352px;
      padding: {
        top: 20px;
        bottom: 20px;
      };
    }
    &.btn-default{
      border: none;
      background: $light;
      color: $black !important;
      font-family: $font-title-regular;
      outline: 0;
      max-width: 352px;
      padding: {
        top: 20px;
        bottom: 20px;
      };
    }
  }
  .live-support {

    @include media-breakpoint-down(sm){
      display: none;
    }
    a, a:hover {
      font-size: 18px;
      padding: .5em 1em;
    }
  }
  .title-stripe{
    h2{
      color: $white;
      font-size: 56px;
      margin: 0;

      @include media-breakpoint-down(sm){
        font-size: 30px;
      }
    }
  }
  .contact-wizard{
    padding: {
      top: 50px;
    }
    h1{
      margin-bottom: 1rem;
      text-align: center;
      font-family: "Open Sans",sans-serif;
      font-size: 30px;
    }
    h2{
      margin-bottom: 1rem;
      text-align: center;
    }
    p.contact-title {
      line-height: 1.6;
      padding-left:6rem; 
      padding-right:6rem;
      margin-bottom: 30px;
      text-align: center;

      @include media-breakpoint-down(sm){
        line-height: 1.4;
        padding-left:1rem; 
        padding-right:1rem;
        margin-bottom: 20px;
      }
    }
    .icon-list{
      .icon-item{
        margin-bottom: 2rem;
        button{
          background: $white;
          height: 218px;
          border: none;
          box-shadow: 0 3px 6px 0 rgba(26, 2, 2, 0.16);
          color: $primary;
          width: 100%;
          font-size: 22px;
          font-weight: 700;
          cursor: pointer;
          .grid-item{
            display: block;
            text-align: center;
            img{
              margin-bottom: 20px;
            }
            .title{
              display: block;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .contact-faq{
    h2{
      margin-bottom: 1rem;
      text-align: center;
    }
    p.contact-title {
      line-height: 1.6;
      padding-left:6rem; 
      padding-right:6rem;
      margin-bottom: 30px;
      text-align: center;

      @include media-breakpoint-down(sm){
        line-height: 1.4;
        padding-left:1rem; 
        padding-right:1rem;
        margin-bottom: 20px;
      }
    }
    .list-group {
      border-radius:0;

      a:first-child {
        margin-right: 20px;

        @include media-breakpoint-down(sm){
          margin-right: 10px;
        }
      }

      .list-group-item {
        border: solid 2px #65509c;
        margin-bottom: 20px;
        text-decoration: none;
        color: #65509c;
        font-size: 1.3em;

        @include media-breakpoint-down(sm){
          padding: .5rem .2rem;
          font-size: 1.125em;
        }
      }
      .list-group-item-action:focus,
      .list-group-item-action:hover {
        z-index:1;
        color:#fff;
        text-decoration:none;
        background-color:#65509c;
      }
    }
    .accordion-faqs{
      .card{
        margin-bottom: 24px;
        border-color: $bg-primary;
        .card-header{
          padding: 0;
          border: none;
          background: none;
          h2{
            margin: 0;
            padding: 30px;
            color: $black;
            font-size: 27px;
            font-weight: 600;
            cursor: pointer;
            font-family: $font-regular;
            display: flex;
            align-items: center;
            i{
              color: $primary;
              margin-right: 22px;
              font-size: 48px;
              &.fa-plus-circle{
                display: block;
              }
              &.fa-minus-circle{
                display: none;
              }
            }
            &[aria-expanded=true]{
              i{
                &.fa-plus-circle{
                  display: none;
                }
                &.fa-minus-circle{
                  display: block;
                }
              }
            }
          }

        }
        .card-body{
          font-size: 25px;
          line-height: 34px;
          padding: {
            bottom: 50px;
          };
        }
      }
    }
  }
  .contact-news{
    .news-section{
      color: $white;
      padding-right: 36px;

      h2{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.37;
        margin-bottom: 1.5rem;
        font-family: $font-regular;
        color: #fff;
      }
      p{
        font-size: 20px;
        line-height: 1.36;
        margin-bottom: 1.5rem;
      }
      a.news-link{
        font-size: 24px;
        font-weight: bold;
        line-height: 1.37;
        text-decoration: underline;
        font-family: $font-regular;
        color: $white;
      }
    }
    .news-image{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include media-breakpoint-down(sm){
        display: none;
      }

      img{
        margin-bottom: 0;
        max-height: 324px;
      }
    }
  }
  .static-content{
    .left-details{
      .content-item{
        margin-bottom: 3rem;
        p{
          font-size: 25px;
          line-height: 1.36;
        }
      }
      .btn{
        height: 50px;
        width: 235px;
        padding: 14px 3em;
        font-size: 21px;
      }

    }
    .right-images{
      .address-note{
        display: block;
        padding: 20px;
        font-size: 21px;
        line-height: 1.33;
        border: 1px solid $card-border;
        margin-bottom: 2rem;
      }
      .contact-image{
        display: block;
        text-align: right;
      }
    }
  }
  .enquiries-txt {
    h2 {
      margin-bottom: 1rem;
      display: block;
    }
    h4 {
      font-size: 22px;
      margin-bottom: 0;
      display: block;
    }
    p {
      margin-bottom: 30px;
      line-height: 1.5;
    }
    @include media-breakpoint-down(sm){
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .checkbox-list{
    .enquiry-selector{
      padding: 0;
      margin-bottom: 20px;

      &.column-2{
        column-count: 2;
        column-gap: 30px;
        @include media-breakpoint-down(sm){
          column-count: 1;
        }
      }
      li {
        list-style: none;
        margin-bottom: 0;
        padding: 1rem;
        break-inside: avoid;
        position: relative;
        border-bottom: 18px solid transparent;
        &:after{
          content: '';
          border: 1px solid $primary;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }
        .custom-control{
          &.custom-radio{
            padding-left: 0;
            cursor: pointer;
            .custom-control-input{
              width: 46px;
              height: 46px;
              &:checked{
                + .custom-control-label{
                  &:after{
                    background-color: $primary;
                  }
                }
              }
            }
            .custom-control-label{
              font-size: 20px;
              height: 46px;
              padding-left: 70px;
              font-weight: 700;
              display: flex;
              align-items: center;
              @include media-breakpoint-down(sm){
                padding-left: 60px;
              }

              &:before{
                width: 46px;
                height: 46px;
                background-color: $white;
                border: 1px solid $primary;
                border-radius: 0;
                top: 0;
                left: 0;
              }
              &:after{
                width: 46px;
                height: 46px;
                top: 0;
                left: 0;
                background-image: none;
              }
              span{
                font-size: 20px;
                line-height: 26px;
                display: block;

                @include media-breakpoint-down(sm){
                  font-size: 16px;
                  line-height: 18px;
                }
              }
            }
          }
        }
      }
    }
    .staysure-checkbox{
      color: $white;
      padding: 30px;
      width: 100%;
      h3{
        font-size: 64px;
        color: $white;
        font-weight: 400;
        font-family: $font-title-regular;

        @include media-breakpoint-down(sm){
          font-size: 56px;
        }

        strong{
          font-weight: 700;
        }
      }
      ul{
        padding: 0;
        li{
          list-style: none;
          margin-bottom: 1rem;
          .custom-control{
            &.custom-checkbox{
              .custom-control-input{

                &:disabled{
                  + .custom-control-label{
                    color: $white;
                  }
                }
              }
              .custom-control-label{
                font-size: 24px;
                padding-left: 7px;

                @include media-breakpoint-down(sm){
                  font-size: 18px;
                }

                &:before{
                  width: 22px;
                  height: 22px;
                  background-color: $white;
                }
                &:after{
                  color: $primary;
                  content: '\f00c';
                  font-family: 'Font Awesome 5 Free';
                  font-weight: 900;
                  background-image: none;
                  font-size: 12px;
                  margin: 0 5px;
                }
              }
            }
          }
        }
      }
      p{
        font-size: 18px;
        a{
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
  .checkbox-target{
    .title-stripe{
      margin-bottom: 2rem;
    }
    h4{
      margin-bottom: 1rem;
    }
    ul{
      list-style: none;
      padding: 0;
      margin-bottom: 1rem;
      li{
        line-height: 1.4;
        font-weight: 600;
        font-size: 25px;
      }
    }
    .btn-group{
      margin: {
        top: 0;
        bottom: 1.5rem;
      };
      .btn{
        margin: {
          top: 0;
        };
      }
    }
  }
  .contact-form-page{
    h2{
      margin-bottom: 1rem;
    }
    .contact-form-wizard{
      .wpcf7{
        margin-top: 2rem;
        margin-bottom: 4rem;
        .wpcf7-form{
          p{
            display: inline-block;
          }
          .form-group{
            .col-form-label{
              font-size: 20px;
              font-family: $font-regular;
              font-weight: 600;
            }
            .wpcf7-form-control-wrap{
              display: block;
              width: 100%;
              .wpcf7-form-control{
                height: 70px;
                max-width: 100%;
                border-color: $primary;
                &::placeholder{
                  font-style: italic;
                }
              }
            }
          }
          .custom-control{
            &.custom-checkbox{
              padding-left: 0;
              .wpcf7-form-control-wrap{
                margin: 0;
                .wpcf7-form-control{
                  margin: 0;
                  .wpcf7-list-item{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0;
                    .wpcf7-list-item-label{
                      font-size: 20px;
                      font-family: $font-regular;
                      font-weight: 600;
                    }
                    input{
                      width: 64px;
                      height: 70px;
                      max-width: 70px;
                      margin-right: 0;
                      margin-left: auto;
                      background-size: 45px;
                      border-color: $primary;
                      &:checked{
                        background-image: url("../images/checkbox_checked.svg");
                      }
                    }
                  }
                }
              }
            }
          }
          .newsletter-label{
            margin: 0;
            height: 70px;
            .wpcf7-form-control{
              margin: 0;
            }
          }
          .wpcf7-submit{
            height: 70px;
            margin: 0;
            float: none;
          }
          .ajax-loader{
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            display: none;
          }
          .wpcf7-not-valid-tip{
            color: darken($red, 10%);
            font-size: 14px;
            text-align: right;
          }
          .wpcf7-validation-errors{
            border: 1px solid lighten($red,40%);
            background-color: #ffe4e4;
            border-radius: 0;
            padding: 30px;
            font-size: 20px;
            margin: {
              left: 0;
              right: 0;
            };
            color: darken($red, 10%);
          }
        }
      }
    }


  }
}
