.sitefooter {
  background-color:#65509c;
  margin-top: 0;
  .wrapper{
    @include media-breakpoint-down(xs){
      padding: 0 1em;
    }
  }
  &.white-footer{
    background-color: $white;
    color: $mine-shaft;
    .container{
      @include media-breakpoint-up(lg){
        padding: {
          left: 4%;
          right: 4%;
        };
      }
    }
    .footer-link-wrapper{
      margin-bottom: 50px;
      @include media-breakpoint-down(md){
        margin-bottom: 64px;
      }
      @include media-breakpoint-down(sm){
        margin-bottom: 20px;
      }
      .mobile-hr{
        display: none;
        width: 100%;
        // @include media-breakpoint-down(sm){
        //   display: block;
        //   background-color: darken($light, 15%);
        // }
      }
    }
    .footer-navigation{
      @include media-breakpoint-down(sm){
        order: 2;
        //border-bottom: 1px solid $light;
      }
      margin-bottom: 0;

      .footer-nav-col{
        color: $mine-shaft;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: percentage(1/3);
        @include media-breakpoint-down(sm){
          width: 100%;
        }
        h5{
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 26px;
          font-family: $font-regular;
          @include media-breakpoint-down(md){
            font-size: 16px;
          }
          @include media-breakpoint-down(sm){
            margin-bottom: 8px;
            font-size: 20px;
          }
        }
        ul{
          display: block;
          float: none;
          margin: 0;
          @include media-breakpoint-down(sm){
            margin-bottom: 30px;
          }
          li{
            @include media-breakpoint-down(sm){
              line-height: 2;
            }
            a{
              color: $card-body-text;
              text-decoration: none;
              font-size: 16px;
              line-height: 1.75;
              @include media-breakpoint-down(md){
                font-size: 16px;
              }
              @include media-breakpoint-down(sm){
                font-size: 20px;
              }
            }
          }
        }
        &:last-of-type {
          border-bottom: 1px solid #d9d9d9;
          @include media-breakpoint-up(md) {
            border-bottom: unset;
          }
        }
      }
    }
    .footer-social-media{
      border-left: 1px solid $light;
      padding: {
        left: 50px;
      };
      margin-top: 0;
      @include media-breakpoint-down(md){
        padding: {
          left: 30px;
        };
      }
      @include media-breakpoint-down(sm){
        //border-top: 1px solid $light;
        border-left: none;
        padding: {
          left: 20px;
          right: 20px;
          top: 20px;
        };
        order: 1;
        margin-bottom: 26px;
      }
      h5{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        font-family: $font-regular;
        @include media-breakpoint-down(md){
          font-size: 16px;
          margin-bottom: 5px;
        }
        @include media-breakpoint-down(sm){
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
      ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        li{
          margin-right: 13px;
          text-align: left;
          float: none;
          width: auto;
          margin: {
            top: 0;
            bottom: 0;
          };
          a{
            color: $card-body-text;
            margin: 0;
            .fab{
              font-size: 40px;
              margin: 0;
              @include media-breakpoint-down(xs){
                font-size: 52px;
              }
            }
          }
        }
      }
    }
    .legal-footer{
      font-size: 11px;
      line-height: 1.82;
      text-align: left;
      @include media-breakpoint-up(lg) {
        text-align: center;
      }

      .wrapper{

        padding-left: 15px;
        padding-right: 15px;

        @include media-breakpoint-up(md){
          text-align: center;
        }

        @include media-breakpoint-up(lg){
          padding: {
            left: 4%;
            right: 4%;
          };
        }

        .desktop-footer-description {
          display: none;
          @include media-breakpoint-up(md) { 
            display: block;
            margin-bottom: 30px;
          }

          p{
            font-size: 10px;
            a{
              color: $mine-shaft !important;
              text-decoration: unset;
              
            }
          }

          a{
            color: $mine-shaft !important;
            
          }
        }

        .mobile-footer-description {
          margin-top: 0;
          margin-bottom: 50px;
          @include media-breakpoint-up(md) { 
            display: none;
          }

          p{
            margin-top: 0;
            margin-bottom: 16px;
            font-size: 11px;

            a{
              color: $mine-shaft !important;
              text-decoration: unset;
              
            }
          }
          a{
            color: $mine-shaft !important;
            
          }
        }
      }
    }
  }
  &.myaccountpage-footer {
    background-color: $gray-bg;

    .container{
      @include media-breakpoint-up(lg){
        padding-right: 15px;
        padding-left: 15px;
      }
      .footer-link-wrapper {
        padding-top: 40px;
        @include media-breakpoint-down(sm) {
          padding-top: 10px;
          padding-bottom: 8px;
         }
        
        margin-bottom: 0;
        padding-bottom: 26px;
  
        @include media-breakpoint-up(lg){
          border-bottom: 1px solid;
        @include border-opacity($mine-shaft, 0.2);

        }

        .footer-navigation {
          .footer-nav-col {
            @include media-breakpoint-up(lg){
              flex: unset;
            }

            h5 {
              font-size: 18px;

              @include media-breakpoint-up(lg){
                font-size: 20px;
              }
            }
            ul {
              li{
                a{
                  font-size: 16px;
                  text-decoration: underline;

                @include media-breakpoint-up(xl){
                    font-size: 20px;
                }
                }
              }
            }
            &:nth-of-type(1) {
              @include media-breakpoint-up(xl){
                max-width: 296px;
                width: 100%;
              } 
            }
            &:nth-of-type(2) {
              @include media-breakpoint-up(xl){
                max-width: 340px;
                width: 100%;
              }
            }
          }
        }
        .footer-social-media {
          @include media-breakpoint-up(lg){
            padding-left: 30px;
          }

          h5 {
            font-size: 18px;
            @include media-breakpoint-up(lg){
              font-size: 20px;
              margin-bottom: 8px;
            }
          }
          ul {
            li {
              a {
                .fab{
                  font-size: 43px;
                  color: $primary;
                  @include media-breakpoint-up(lg){
                    font-size: 50px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .legal-footer {
      .wrapper {
        padding: 0 15px;
        @include media-breakpoint-up(lg){
          max-width: 1110px;
          padding: 0;
        }
        @include media-breakpoint-only(lg) { 
          padding: 0 15px;
         }

        .desktop-footer-description {
          p {
            font-size: 12px;
            line-height: 20px;
            @include media-breakpoint-up(lg){
              font-size: 11px;
            }
          }
        }
        .mobile-footer-description {
          margin-bottom: 50px;
          p{
            margin-bottom: 21px;
            font-size: 12px;
            line-height: 20px;
            
          }
        }
      }
    }
  }
}

.disclaimer {
  background: #eee;
  margin-top: 2em;
  float:left;
}
.footer-navigation {
  float:left;
  width:100%;
  margin:0;

}
footer .footer-nav-col {
  width:32%;
  margin-right:1%;
  float:left;
  color:#fff;
  text-align:left;
  margin-top: 1%;
  margin-bottom:2em;
  @include media-breakpoint-down(sm){
    width: 100%;
    margin-bottom: 0.3em;
  }

}
footer .footer-social-media {
  width:100%;
  float:left;
  margin-top:4em;
  text-align:left;
  border-top:none;
  border-bottom:1px solid rgba(255,255,255,0.3);
  @include media-breakpoint-down(xs){
    margin-top: 0;
  }
}
footer{
  .footer-navigation + .footer-social-media{
    border-top:1px solid rgba(255,255,255,0.3);
  }
}
.sitefooter {
  clear: both;
  color: #fff;
  overflow: hidden;
  padding: 0 0 1em;
}
footer .footer-social-media ul {
  list-style:none;
  list-style-type:none;
  float:left; width:100%;
  margin-top: 1em;
  margin-bottom: 0;
  padding-left: 0;
  @include media-breakpoint-down(xs){
    margin-top: 0;
  }
}
footer .footer-social-media li {
  margin-bottom: 1em;
  width: 33%;
  //float: left;
  @include media-breakpoint-down(xs){
    width: 100%;
    margin-top: 1em;
  }
}
footer .footer-social-media i {
  margin-right:0.5em;
}
footer .footer-social-media a {
  color:#fff;
  text-decoration:none;
}
.footer-nav-col h6 {
  margin-bottom:1em;
  margin-top: 2.5em;
  color:rgba(255,255,255,0.7);
  font-weight: 700;
  font-family: $font-regular;
  @include media-breakpoint-down(xs){
    margin-bottom: 0.5rem;
  }
}
footer .footer-nav-col ul {
  float:left;
  //width:100%;
  list-style: none;
  list-style-type:none;
  padding:0;
  margin:0;
  @include media-breakpoint-down(xs){
    margin-bottom: 0;
  }
}
.footer-nav-col a {
  color:#fff;
  font-size:0.8em;
  text-decoration: underline;
}
.footer-nav-col a:hover {
  text-decoration:none;
}
.sitefooter__smallprint {
  margin-top:0;
}
.legal-footer {
  width:100%;
  margin:0;
  padding-top:1em;
  text-align: center;
  clear: both;
  p{
    margin-top: 1em;
    small{
      @include media-breakpoint-down(sm){
        display: block;
      }
    }
  }
}