@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@font-face {
  font-family: 'Ciutadella Rounded';
  src: url('../../fonts/CiutadellaRounded-SmBd.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/CiutadellaRounded-SmBd.woff2') format('woff2'),
  url('../../fonts/CiutadellaRounded-SmBd.woff') format('woff'),
  url('../../fonts/CiutadellaRounded-SmBd.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Ciutadella Rounded';
  src: url('../../fonts/CiutadellaRounded-Bd.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/CiutadellaRounded-Bd.woff2') format('woff2'),
  url('../../fonts/CiutadellaRounded-Bd.woff') format('woff'),
  url('../../fonts/CiutadellaRounded-Bd.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ciutadella Rounded';
  src: url('../../fonts/CiutadellaRounded-Md.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/CiutadellaRounded-Md.woff2') format('woff2'),
  url('../../fonts/CiutadellaRounded-Md.woff') format('woff'),
  url('../../fonts/CiutadellaRounded-Md.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ciutadella Rounded';
  src: url('../../fonts/CiutadellaRounded-Rg.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/CiutadellaRounded-Rg.woff2') format('woff2'),
  url('../../fonts/CiutadellaRounded-Rg.woff') format('woff'),
  url('../../fonts/CiutadellaRounded-Rg.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOVuhpOqc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


