.black-friday-hero {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#330a3c+36,200528+90 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#320d3b+0,1f0625+100 */
  background: rgb(50,13,59); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(50,13,59,1) 0%, rgba(31,6,37,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(50,13,59,1) 0%,rgba(31,6,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(50,13,59,1) 0%,rgba(31,6,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#320d3b', endColorstr='#1f0625',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  padding: 0;
  margin-top: 0;
  color: $white;
  width: 100%;
  &.product-page{
    .promotion {
      max-width: 1120px;
      padding: 0;
      &-logo {
        width: auto;
        @include media-breakpoint-down(md){
          max-width: 35%;
        }
        @include media-breakpoint-down(xs){
          max-width: 50%;
        }
        @include iphone5{
          max-width: 45%;
        }
        picture{
          margin: 0;
          img{
            margin: 0;
          }
        }
      }
      &-details {
        width: auto;
        max-width: 600px;
        padding: 1rem;
        @include media-breakpoint-down(xs){
          max-width: 50%;
          padding: 1rem 0;
        }
        @include iphone5{
          max-width: 140px;
        }
        &-summery {
          &--amount {
            font-size: 158px;
            line-height: 107px;
            @include media-breakpoint-down(md){
              font-size: 100px;
              line-height: 63px;
            }
            @include media-breakpoint-down(sm){
              font-size: 90px;
              line-height: 62px;
            }
            @include iphone5{
              font-size: 70px;
              line-height: 50px;
            }
          }
          &--percentage {
            font-size: 71px;
            line-height: 36px;
            @include media-breakpoint-down(md){
              font-size: 30px;
              line-height: 14px;
              margin-left: 5px;
            }
            @include iphone5{
              font-size: 26px;
              line-height: 10px;
            }
          }
          &--off {
            font-size: 89px;
            line-height: 61px;
            @include media-breakpoint-down(md){
              font-size: 63px;
              line-height: 43px;
              margin-left: 5px;
            }
            @include media-breakpoint-down(sm){
              font-size: 52px;
              line-height: 37px;
            }
            @include iphone5{
              font-size: 50px;
              line-height: 35px;
            }
          }
        }
        &-separator{
          border-left: 1px solid $white;
          padding-left: 1.5rem;
          margin-left: 1.5rem;
          @media screen and (max-width: 767px) {
            padding-left: 0;
            margin-left: 0;
            border-left: none;
          }
        }
        &-code {
          font-size: 29px;
          @include media-breakpoint-down(lg){
            font-size: 26px;
          }
          @include media-breakpoint-down(md){
            font-size: 20px;
          }
          @include media-breakpoint-down(xs){
            font-size: 16px;
          }
          @include iphone5{
            font-size: 15px;
          }
        }
        &-note {
          padding: 0;
          text-align: left;
          margin-top: 0.5rem;
          @include media-breakpoint-down(lg){
            font-size: 14px;
          }
          @include media-breakpoint-down(md){
            font-size: 12px;

          }
          @include media-breakpoint-down(sm){
            font-size: 12px;
          }
          @include media-breakpoint-down(xs){
            font-size: 10px;
            margin-top: 0.5rem;
          }
          @include iphone5{
            font-size: 8px;
          }
        }
      }
    }
    + .banner{
      margin-top: 0;
    }
  }
  .promotion {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    * + * {
      margin-top: inherit;
    }
    &-logo {
      width: calc(100% - 325px);
      @include media-breakpoint-down(sm) {
        width: calc(100% - 300px);
        max-width: 50%;
      }
      @include media-breakpoint-down(xs) {
        width: calc(100% - 160px);
      }
      @include iphone5{
        width: 50%;
      }
      img {
        width: auto;
        max-width: 100%;
      }
    }
    &-details {
      max-width: 305px;
      @include media-breakpoint-down(sm) {
        max-width: 270px;
      }
      @include media-breakpoint-down(xs) {
        max-width: 160px;
      }
      @include iphone5{
        max-width: 140px;
      }
      &-summery {
        font-family: $font-ciutadella;
        font-weight: 800;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        &--amount {
          font-size: 180px;
          display: block;
          line-height: 126px;
          letter-spacing: -6px;
          @include media-breakpoint-down(sm) {
            font-size: 150px;
            line-height: 96px;
          }
          @include media-breakpoint-down(xs) {
            font-size: 80px;
            line-height: 56px;
          }
        }
        &--wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0;
        }
        &--percentage {
          font-size: 77px;
          line-height: 26px;
          font-weight: 600;
          display: block;
          width: 100%;
          margin: 0;
          margin-left: 5px;
          @include media-breakpoint-down(sm) {
            font-size: 50px;
            line-height: 20px;
          }
          @include media-breakpoint-down(xs) {
            font-size: 30px;
            line-height: 20px;
          }
        }
        &--off {
          font-size: 117px;
          line-height: 82px;
          display: block;
          width: 100%;
          margin: 0;
          margin-left: 5px;
          @include media-breakpoint-down(sm) {
            font-size: 90px;
            line-height: 55px;
          }
          @include media-breakpoint-down(xs) {
            font-size: 48px;
            line-height: 34px;
          }
        }
      }
      &-code {
        font-family: $font-regular;
        font-size: 32px;
        margin-top: 2rem;
        white-space: nowrap;
        @include media-breakpoint-down(sm) {
          font-size: 28px;
          margin-top: 1rem;
        }
        @include media-breakpoint-down(xs) {
          font-size: 16px;
          margin-top: 0.5rem;
        }
        @include iphone5{
          font-size: 14px;
        }
        &--name {
          font-weight: 400;
          margin: 0;
        }
        &--block {
          font-weight: 700;
          padding-left: 10px;
          margin: 0;
        }
      }
      &-cta {
        margin-top: 2rem;
        @include media-breakpoint-down(xs) {
          margin-top: 0.5rem;
        }
        .btn.cta {
          font-size: 32px;
          font-weight: 800;
          font-family: $font-ciutadella;
          margin: 0;
          padding: 1rem 2rem;
          display: block;
          width: 100%;
          @include media-breakpoint-down(xs) {
            font-size: 20px;
            padding: 0.75rem 1rem;
            display: inline-block;
          }
          @include iphone5{
            padding: 0.6rem 0.75rem;
          }
        }
      }
      &-note {
        font-family: $font-regular;
        font-size: 16px;
        text-align: center;
        margin-top: 1rem;
        padding: 0 1rem;
        line-height: 1.6;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
        @include media-breakpoint-down(xs) {
          font-size: 9px;
          padding: 0;
          margin-top: 0.5rem;
        }
        @include iphone5{
          font-size: 8px;
        }
        p {
          line-height: 1.6;
        }
      }
    }
  }
}